<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quora Replica</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Quora</h1>
    <hr />
    <% for (post of posts) { %>
    <div>
      <h4>@<%= post.username %></h4>
      <p><i> <%= post.content%> </i></p>
      <form action="/posts/<%= post.id %>" method="get">
        <button type="submit">See Details</button>
      </form>
      <form action="/posts/<%= post.id %>/edit" method="get">
        <button type="submit">Edit</button>
      </form>
      <form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </div>

    <% } %>
    <br />
    <hr />
    <form action="/posts/new" method="get">
      <button type="submit">Create Post</button>
    </form>
  </body>
</html>
