<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Users</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
    </style>
  </head>
  <body>
    <div>
      <h3>Add new user:</h3>
      <form action="/users/new" method="get">
        <button type="submit">Add New</button>
      </form>
    </div>
    <table>
      <tr>
        <th>id</th>
        <th>username</th>
        <th>email</th>
      </tr>

      <% for (user of users_data){ %>

      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
          <form action="/users/<%= user.id %>/edit" method="get">
            <button type="submit">Edit</button>
          </form>
          
        </td>
        <td>
          <form action="/users/<%= user.id %>/delete?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>

      <% } %>
    </table>
  </body>
</html>
